PORT=8002

DB_HOST=localhost
DB_PORT=3306
DB_NAME=registrations_db
DB_USER=root
DB_PASS=root

USER_SERVICE_URL=http://localhost:8000/api
EVENT_SERVICE_URL=http://localhost:8001/api
NOTIF_SERVICE_URL=http://localhost:8003/api